@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mrs+Saint+Delafield&family=My+Soul&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Press+Start+2P&display=swap');

:root{
     --mainColor:hsl(212, 45%, 89%);
}

*{
    box-sizing: border-box;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400, 700;
    font-style: normal;
    text-align: center;
}

body{
    background-color:var(--mainColor);
}

main{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 23rem;
    height:35.5rem;
    align-items: center;
    justify-content: center;
    margin: 16rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 4%/4%;
}

#text-section {
    width: 90%;
}

p {
    margin: 1rem auto;
    color: gray;
    font-size: 1.2rem;
}

h1{
    font-size: 1.5rem;
}

img{
    width: 100%;
    border-radius: 3%/3%;
}

.attribution{
    display: none;
}
